@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: black;
}

body {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}
