@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  min-height: 100vh;
}

/* تنسيق شريط التمرير ليكون متناسقاً مع التصميم الداكن */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}

/* تأثيرات خاصة للأزرار الذهبية */
.gold-shadow {
  filter: drop-shadow(0 0 10px rgba(212, 175, 55, 0.3));
}
